* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.search-button {
    border: 1px solid gray;
    /* Add border */
    padding: 5px;
    /* Add padding for better appearance */
    background-color: transparent;
    /* Optional: Set background color */
    cursor: pointer;
    /* Optional: Add pointer cursor */
    color: white;
}

/* Optional: Style icon and text */
.search-button .nav-cart {
    display: flex;
    align-items: center;
}

.search-button .nav-cart i {
    margin-right: 5px;
}


.navbar {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("assets/images/logo.PNG");
    background-size: cover;
    height: 100%;
    width: 60%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.add-first {
    color: aliceblue;
    font-size: 0.85 rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* hero section  */
.hero-section {
    background-image: url("assets/images/hero.png");
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-section2 {
    background-image: url("assets/images/sale.png");
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}